# FastAPI & Web Server
fastapi
uvicorn

# Data Processing
xgboost
tensorflow 
keras 
kagglehub 
numpy 
pandas 
optuna 
joblib 
scikit-learn 
matplotlib 
seaborn

# Model Serialization
   # Alternative for model saving/loading

# Middleware for CORS support
python-multipart  # Needed for form data handling
requests  # Required for API calls from Streamlit
httpx  # Async requests (used internally by FastAPI)

# Streamlit (Frontend)
streamlit



