python>=3.7,<3.11

# FastAPI & Web Server
fastapi
uvicorn

# Data Processing
numpy
pandas
scikit-learn
matplotlib
seaborn
xgboost
optuna
keras
kagglehub 
tensorflow

# Model Serialization
joblib   # Alternative for model saving/loading

# Middleware for CORS support
python-multipart  # Needed for form data handling
requests  # Required for API calls from Streamlit
httpx  # Async requests (used internally by FastAPI)

# Streamlit (Frontend)
streamlit



